<ion-view title="" hide-back-button="false" hide-nav-bar="false" >

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
	
	
    <ion-content style="background-color:#fff9f1">
		
		
	<div>
       <div class="storyPic"><img alt="" src="{{PHPHost}}/{{ArticleContent.image}}"   width="100%"/></div>
       <div class="articleTitle" style="direction:rtl;">{{ArticleContent.title}}</div>
       <div class="txt" style="direction:rtl;"  ng-bind-html="ArticleContent.desc | toTrusted" ></div>
    </div>

    </ion-content>
  
  



</ion-view>
