<ion-view title="" hide-back-button="false" hide-nav-bar="false" >

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
	
	
    <ion-content style="background-color:#fff9f1">
		
		
    <article>
        <div  ng-class="$index == 0 ? 'story1' : 'story'"  ng-repeat="item in blogPosts "  align="center">
	
                <a href="#/app/blogdetails/{{$index}}">
                    <div><img alt="" src="{{PHPHost}}/{{item.image}}"  width="100%" height="105px;"/></div>
                    <div>{{item.title}}</div>
                </a>
        </div>
        <div class="story" ></div>
    </article>


    </ion-content>
  
  



</ion-view>
