<ion-view title="" hide-back-button="false" hide-nav-bar="false" cache-view="false" >

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
    <ion-content style="background-color:#fff9f1">
		<div style="width:100%;">
		
		<img  ng-if="!ArticleData.image2" ng-src="{{RandomImage}}" style="width:100%; margin-top:-3px;" />
		<img  ng-if="ArticleData.image2" ng-src="{{PHPHost}}/{{ArticleData.image2}}" style="width:100%; margin-top:-3px;" />
        
       <div style="overflow:hidden;  width:100%;" align="center">
			<div style="width:50%; overflow:hidden;">
			
				<div ng-click="phone(ArticleData.mobile)" style="float:left; margin:6px;">
					<i class="ion-ios-telephone" style="font-size:50px;"></i>
				</div>
				
				<div ng-click="openMail(ArticleData.email)" style="float:left; margin:6px;">
					<i class="ion-email" style="font-size:50px;"></i>
				</div>
				
				<div ng-click="openShare(ArticleData)" style="float:left; margin:6px;">
					<i class="ion-share" style="font-size:50px;"></i>
				</div>		
			
			</div>
	
	   </div>
			<!--
        	
			
  			<ion-slide-box  >
                  <ion-slide ng-repeat="item in Gallery">
                     <img ng-src="{{host}}/{{item.image}}"  style="width:100%" />
                  </ion-slide>
            </ion-slide-box>
			-->
        </div>

        <div class="mainInfo" >
        	<div class="mainInfoText">
                <h3 ng-if = "ArticleData.migdal">{{ArticleData.migdal}}</h3>
				
                <h4 ng-if = "ArticleData.mobile" ng-click="phone(ArticleData.mobile)">נייד: {{ArticleData.mobile}}</h4>
                <h4 ng-if = "ArticleData.phone" ng-click="phone(ArticleData.phone)">טלפון: {{ArticleData.phone}}</h4>
                <h4 ng-if = "ArticleData.fax">פקס: {{ArticleData.fax}}</h4>

				<h4 ng-if = "ArticleData.email">אימייל: {{ArticleData.email}}</h4>
				
				
                <h4 ng-if = "ArticleData.yesov">ישוב: {{ArticleData.yesov}}</h4>
                <h4 ng-if = "ArticleData.address">כתובת: {{ArticleData.address}}</h4>
                <h4 ng-if = "ArticleData.mikud">מיקוד: {{ArticleData.mikud}}</h4>
				
				<h4 ng-if = "ArticleData.id">מס. מגדל: {{ArticleData.id}}</h4>


            </div>
            
            <div ng-if="ArticleData.video" style="float:left; width:18%; margin-top:25px;" ng-click="Video()" align="center">
            	<div style="width:80%; margin-left:20px;">
                	<img src="img/video.png" style="width:100%" />
                    <p>נגן וידאו</p>
                </div>
            </div>

       </div>
            
	  <!--	
      <div class="mainInfo">
                <h4 ng-bind-html="SapakDesc" style="width:100%;"></h4>
      </div>
      -->

	  
	  
	  <!--
        <div class="mainDetails">
         <div class="ListInfoCenter" >
            	<h3 style="margin-top:5px;">00</h3>
                <h4>יום {{DayName}} {{Appoinement.start_date}}</h4>
                <h4>שעה : {{Appoinement.start_time}}</h4>
                <h4>מחיר : {{SupplierData.price}} ש"ח</h4>

            </div>
  
       </div>
      -->	



            <div class="searchLine">
            </div>
     
			<img  ng-if="ArticleData.banner" ng-src="{{PHPHost}}/{{ArticleData.banner}}" style="width:100%; margin-top:-17px; padding:0px" />

    </ion-content>
  
  
 <script id="video-modal.html" type="text/ng-template" >
					<div style="width:100%;" align="center" ng-click="closeVideoModal()">
						  <div class="searchInput" align="center">
								 <div class="searchInputDiv">
								 		<div class="buttons" >
											<button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
										</div>
	
										<div >
											<div id="videoWrapper" class="videoWrapper" style="margin-top:200px; width:100%" align="center">
												<iframe id="VideoPlayer" width="80%" height="200" src="{{VideoLink}}" frameborder="0" allowfullscreen></iframe>
											</div>						
										</div>
										<div class="buttons" >
											<button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
										</div>
	
								 </div>
						  </div>  
  
					</div>
					<div class="buttons" >
						<button class="button button-clear" style="color:#fff; font-weight:bold;" ng-click="closeVideoModal()">סגירה</button>
					</div>
	
          </script>


</ion-view>
