<ion-view title="" hide-back-button="false" hide-nav-bar="false" cache-view="false" >

 <div class="subheader"  style="margin-top:40px; background-color:#fff9f1; margin-top:20px; padding-top:20px; padding-bottom:20px;">
	<div class="list list-inset">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" ng-model="searchField" placeholder="חיפוש" ng-keydown="blurSearch()" style="direction:rtl;">
	  </label>
	</div>
  </div>
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content class="has-subheader" scroll="true"  style="margin-bottom:-7px; background-color:#fff9f1 !important; margin-top:30px; ">

  
  
        <div class="ListRow" collection-repeat="item in articlesArray | filter:searchField" ng-click="goArticle(item.index)" >
            <div class="ListRight">
                <img ng-if="!item.image" ng-src="{{$index |randomImageFilter:true }}" style="width:100%; margin-top:-3px;"  />
                <img ng-if="item.image" src="{{PHPHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3 style="direction:rtl !important;">{{item.migdal}}</h3>
				<h4 ng-if="item.yesov"><b>ישוב :</b> {{item.yesov}}</h4>				
				<h4 ng-if="item.address"><b>כתובת :</b> {{item.address}}</h4>
				<h4 ng-if="item.mobile"><b>טלפון :</b> {{item.mobile}}</h4>
                <h4 ng-if="item.phone" ng-click="phone(item.phone)"><b>טלפון :</b> {{item.phone}}</h4>
            </div>
            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div>       


  </ion-content>
  
  



</ion-view>
