<ion-view title="" hide-back-button="true" hide-nav-bar="showSplashImage" cache-view="true">

	 <ion-nav-buttons side="left" >

	<div class="item-icon-left"  style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; " ui-sref="app.contact()">
		 <i class="icon ion-email" style="color:white;  z-index:-1"></i> 
	
	</div>
  </ion-nav-buttons> 
  
  
  <ion-content scroll="true" style="margin-bottom:-7px;">
  
	<div ng-if="showSplashImage" style="position:absolute; z-index:100; height:100%; background-color:#fff;">
	<img src="img/shaar.jpg" style="width:100%; ">
	</div>	
  
  
  		<div style="">
        	<img src="img/head.png" style="width:100%" />
        </div>
        

        <div style="position:relative; z-index:1;">

            <img src="{{PHPHost}}/{{randomImage.image}}"  style="width:100%; margin-top:-7px" />

			<div ng-click="navigateArticles(1)">
				<img src="img/main/1.png"  style="width:100%; margin-top:-7px" />
				<img src="img/phonebanner.png"  style="width:100%; margin-top:-7px" />
            </div>
			
            
            <div  ng-click="navigateArticles(3)" style="z-index:100; position:relative">
             	<img  src="img/main/3.png" style="width:100%; margin-top:-7px; z-index:100" />
            	<img src="img/meda1.png"  style="width:100%; margin-top:-7px; z-index:100" />
			</div>
            
            <div ng-click="navigateArticles(2)">
				<img  src="img/main/15.png" style="width:100%; margin-top:-7px" />
				<img src="img/doctor.png"    style="width:100%; margin-top:-7px; z-index:100; position:relative" />
				
			</div>
            <div ng-click="navigateArticles(5)">
				<img  src="img/main/14.png" style="width:100%; margin-top:-7px" />
				<img src="img/video1.png"  style="width:100%; margin-top:-7px" />
            </div>
            
			<div ng-click="navigateArticles(4)">
				<img  src="img/main/13.png"  style="width:100%; margin-top:-7px" />
				<img src="img/blog1.png"  style="width:100%; margin-top:-7px" />
			</div>
			
			
			<div ng-click="navigateArticles(6)">
				<img  src="img/main/16.jpg"  style="width:100%; margin-top:-7px" />
				<img src="img/sorttamar.png"  style="width:100%; margin-top:-7px" />
			</div>			
			
			
			
			
			<!--<div ui-sref="home({foo: 'fooVal1'})">
				<img src="img/doctor.png"    style="width:100%; margin-top:-7px; z-index:100; position:relative" />
			</div>-->
        </div>

	
		
		
  </ion-content>
  
  



</ion-view>
