.title-image
{
	width:150px;
	position:relative;
	margin-top:10px;
	z-index:100;
}

.ListRow
{
	overflow:hidden;
	width:100%;
}


.ListRight
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight img
{
	border:4px solid #d5d6d5
}

.ListCenter
{
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter h3
{
	font-size:16px;
	color:#ef2275;
	font-weight:bold;
}

.ListCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListCenter div
{
	margin-top:-8px;
}


.ListLeft
{
	width:10%;
	padding-left:20px;
	float:left;
	margin-top:30px;
}

.mainInfo
{
	text-align:right;
	direction:rtl;
	padding:10px;
	padding-left:0px;
	overflow:hidden;
}

.mainDetails
{
	width:100%;
	overflow:hidden;
}

.ListInfoCenter
{	
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
	padding-right:20px;
	width:60%;
}

.ListInfoCenter h3
{
	font-size:16px;
	color:#ef2275;
	font-weight:bold;
}

.ListInfoCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#ef2275;
}

.ListInfoCenter div
{
	margin-top:-8px;
	color:#ef2275;
}

.searchLine
{
	background-color:#CCC;
	margin-top:15px;
	margin-bottom:15px;
	width:100%;
	height:1px;
}


    .story
    {
        width:100%;
        float:right;
        background-image:url("../img/main/storyBg.jpg");
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
        border-top: solid #e8e8e8;
		height:105px;
		overflow-y: hidden;
    }
	
	
	
     .story div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;
		height:105px;    
    }
    
     .story div:nth-child(2)
    {
        float: right;
		text-align:center;
        width:70%;
        padding:41px 10px;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }
    
	
	 .story_ten
    {
        width:100%;
        float:right;
        background-image:url("../img/main/storyBg.jpg");
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
        border-top: solid #e8e8e8;
		height:105px;
		overflow-y: hidden;
    }
	
	
	
     .story_ten div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;
		height:105px;    
    }
    
     .story_ten div:nth-child(2)
    {
        float: right;
		text-align:right;
        width:70%;
        padding:20px 10px;
		direction:rtl;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }
	
	
    
	.story1
    {
        width:100%;
        float:right;
        background-repeat: repeat-x;      
        color:#00ac36;
        font-size:20px;
        font-weight:bold;
       
		height:105px;
		overflow-y: hidden;
    }
	
	 .story1 div:nth-child(1)
    {
        float: right;
        width: 30%;  
        background-color:#00ac36; 
        padding-left:5%;  
		height:105px;   
    }
    
     .story1 div:nth-child(2)
    {
        float: right;
		text-align:center;
        width:70%;
        padding:41px 10px;
		color:#00ac36;
		font-size:18px;
		height:105px;
    }
    
	
     .storyPic
     {
         float:right;
         width:100%;
         overflow:hidden;         
     }
	 .storyPic div
	 {
		 width:100%;
	 }

    .articleTitle
    {
        padding:10px 14px 10px 10px;
        font-size:24px;
        float:right;
        color:#00ac36;            
    }
    .txt
    {
        padding:0px 14px 10px 20px;
        font-size:18px;
        float:right;  
		direction:rtl;		
    }	 
	
	.mainInfoText
	{
		direction:rtl;
		float:right;
		width:70%;
	}
	
	.mainInfoText h3
	{
		direction:rtl;
		font-size:20px;
		font-weight:bold;
	}
	
	.mainInfoText h4
	{
		font-size:16px;
		margin-top:-5px;
	}
	
	.loading
	{
		direction:rtl;
	}
	
	.button.back-button.buttons.button-clear.header-item
	{
		color:#fff;
	}	
	.title.title-center.header-item
	{
		color:#fff;
		font-weight:bold;
	}
	
.mainPageLogIn
{
	width:100%;
	background-color:white;
	overflow:hidden;
}

.mainPageLogIn div
{
	width:85%;
	margin-top:20px;
}


.mainPageLogIn input
{    width: 100%;
    border: 2px solid rgba(97, 181, 207, 0.58);
    color: #61b5cf;
    text-align: right;
    padding: 12px;
    font-size: 16px;
    height: 50px;
    border-radius: 100px;
    height: 55px;
    padding-right: 37px;
}

.mainPageLogIn textarea
{
	      width: 100%;
    border: 2px solid rgba(97, 181, 207, 0.58);
    color: #61b5cf;
    border-radius: 28px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    padding-top: 16px;
    height: 150px;
    resize: none;
}


.popup-container .popup 
{
width:100%;
max-height:100%;
}	

	